html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
.container{
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
}

h1{
    font-weight: 800;
    font-size: 35px;
}

.header{
    background-color: rgb(180, 235, 184);
    opacity: 0.6;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.header_in{
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.header_in img{
    width: 2.3%;
    height: 2.3%;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: rgb(50, 78, 105);
}

.menu a{
 font-weight: 900; 
}
.body{
    background-image: url("https://htmllessons.ru/img/home/balls/elipse_3.svg");
    background-repeat: no-repeat;
    background-position: -2cm;
}
.body_in{
    background-color: rgb(180, 235, 184);
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    height: 500px;
    box-shadow: 0px 0px 60px rgb(235, 202, 202);
    border-radius: 35px;
    color: rgb(163, 143, 228);
}

.courses{
    background-color: rgb(180, 235, 184);
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 200px;
    align-items: center;
}
.body_in h1{
    margin-top: -1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.body_in h2{
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.courses_in{
    margin-top: 5%;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid rgb(163, 143, 228);
}


.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 50px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 5%;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}
.about_us{
    background-image: url("https://htmllessons.ru/img/home/balls/elipse_3.svg");
    background-repeat: no-repeat;
    background-position: 41cm;
}
.about_us_in h1{
    color: white;
}
.about_us_in{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.information{
    height: 600px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
}
.information_in-1{
    border-radius: 15px;
    opacity: 0.5;
    height: 250px;
    width: 95%;
    grid-area: a;
    background-image: linear-gradient(144deg,#80e5c0, #64bd91 50%,#1b7453);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.information_in-2{
    border-radius: 15px;
    opacity: 0.5;
    height: 250px;
    width: 95%;
    grid-area: b;
    background-image: linear-gradient(144deg,#8bbdaa, #57da46 50%,#00DDEB);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.information_in-3{
    border-radius: 15px;
    opacity: 0.5;
    height: 250px;
    width: 95%;
    grid-area: c;
    background-image: linear-gradient(144deg,#99cb7a, #457667 50%,#559782);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.information_in-4{
    border-radius: 15px;
    opacity: 0.5;
    width: 95%;
    grid-area: d;
    height: 250px;
    background-image: linear-gradient(144deg,#dc86ae, #7969a8 50%,#5b78d8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.information_in-1 p{
    width: 80%;
} 
.information_in-2 p{
    width: 80%;
} 
.information_in-3 p{
    width: 80%;
} 
.information_in-4 p{
    width: 80%;
} 

.statistics{
    background-image: url('https://htmllessons.ru/img/home/bglife.svg');
    margin-top: 10%;
}
.statistics_in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-image: url("https://htmllessons.ru/img/home/balls/elipse_3.svg");
    background-repeat: no-repeat;
    background-position: 3cm;
}

.statistics_in h1{

    padding-top: 10%;
    color: white;
}

.statistics_information{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.statistics_information_in{
    box-shadow: 0px 0px 60px rgb(235, 202, 202);
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 150%;
    background-color: white;
    margin-top: -5%;
}

.statistics_information_in h2{
 color: #39c8d2;
}

.statistics_information_in p{
    margin-top: -2%;
}

.statistics_in button{
    margin-bottom: 5%;
    border-radius: 50px;
}

.comments{
    background-image: url("https://htmllessons.ru/img/home/balls/elipse_3.svg");
    background-repeat: no-repeat;
    background-position: 41cm;
}
.comments_in{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    color: white;
}


.comment_in img{
 width: 10%;
}
.comment{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comment_in{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.comment_in h3{
    width: 80%;
    text-align: center;
}

.footer{
    background-image: url('https://htmllessons.ru/img/home/bglife.svg');
}

.footer_in{
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("https://htmllessons.ru/img/home/balls/elipse_3.svg");
    background-repeat: no-repeat;
    background-position: 8cm;
}

.logo{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.lessons{
    color: rgb(161, 237, 174);
}
.logo img{
    margin-right: 2%;
    height: 50px
}

.footer_info{
    display: flex;
    justify-content: space-around;
}

.foot{
    text-align: center;
}