.container{
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
}


.header_in{
    display: flex;
    justify-content: space-between;
}
.header_in img{
    width: 5%;
    height: 5%;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.menu a{
 font-weight: 900; 
}

.body_in{
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    height: 500px;
    box-shadow: 0px 0px 60px rgb(235, 202, 202);
    border-radius: 15px;
}

.courses{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 200px;
    align-items: center;
}
.body_in h1{
    margin-top: -1%;
}
.body_in h2{
    margin-top: -2%;
}

.courses_in{
    margin-top: 5%;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid rgb(202, 199, 199);
}


.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 5%;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}